@import '../../../styles/core.scss';

.home {
  h1, ul {
    text-align: center;
  }

  h1 {
    font-size: $section-header-size;
  }

  p, li {
    font-size: $default-size;
  }

  ul {
    list-style: none;
  }
}
