.container > div {
    margin: 50px 0;
}

.container {
    .template-container {
        input {
            margin-bottom: 10px;
        }
    }

    #g-recaptcha {
        margin-bottom: 10px;
    }
}