.done-view {
    padding-top: 35px;
    padding-bottom: 35px;

    .container {
        text-align: center;
        h2 {
            margin-bottom: 15px;
        }
    }

    .fb-button {
        background-color: #3b5998;
        color: #FFFFFF;
        padding: 10px;
        
        i {
            font-size: 3vh;
            margin-right: 5px;
        }

        span {
            font-size: 2.2vh;
            line-height: 3.0vh;
            vertical-align: bottom;
        }
    }
}