@import '../../styles/core.scss';

header {
    background-color: black;
    background-image: url('assets/capitol-building-543598_1920.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

    .content {
      display: table-cell;
      vertical-align: middle;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);

      color: white;
      text-align: center;

      .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
        
      h1 {
        font-size: $header-size;
      }

      font-size: $header-subtext-size;
    }
}
